h1 {
    margin-top: 15px;
}

.tag-btn {
    background: #e0e0e0;
    border-radius: 2px;
    padding: 2px 6px;
    margin-right: 5px;
}

.tag-list {
    display: block;
}

.loadingSpinner {
    max-width: 100px;
}

.alert .btn {
    margin: 0;
    padding: 0;
}

.right-margin {
    margin-right: 5px;
}

.authBox {
    background: #fff;
    border: 1px #23527c solid;
    padding: 5px;
    border-radius: 4px;
}

.loginForm {
    width: 300px;
}